.content{
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Bellota';

}
.text{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bellota';
}
.im{
  max-width: 100%;
  height: 50px;
  font-family: 'Bellota';
}
html{
  scroll-behavior: smooth;
}
#about{
  padding-top: 20px;
  background-color:#000000;
  padding-bottom: 20px;
  font-family: 'Bellota';
}
#certi{
  padding-top: 20px;
  background-color:#000000;
  padding-bottom: 20px;
  font-family: 'Bellota';
}
#skills{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#000000;
  font-family: 'Bellota';
}
#skills span{
  color:white;
  font-family: 'Bellota';
}

.navbar-dark{
  background-color:#f3ca20;
  font-family: 'Bellota';
}

#cert{
  background-color:#ffd900;
  padding-top: 20px;
  font-family: 'Bellota';
}
.accordion-body{
  background-color:#000000;
  color:#ffffff
}

